.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 30px;
    column-gap: 10px;
    margin: 100px;
}

.card {
    background-color: #1e201e;
    width: 200px;
    height: 300px;
    border: solid 1px #1e201e;
    cursor: pointer;
}
.card:hover {
    opacity: 70%;
}

.cardImg {
    width: 200px;
    height: 230px;
}

.cardInfo {
    display: flex;
    flex-direction: column;
}

.name {
    font-size: 15px;
    font-weight: bold;
}

.worth {
    font-size: 12px;
}
